{% extends 'base/principal.html' %}
{% block content %}

<div class="barra-superior barra-login">
    <h1>Registrate</h1>
</div>
<div class="cuerpo-tarjeta">
    <form method="post" action>
        {% csrf_token %}
        <label for="">{{form.username.label}}</label>
        {{form.username}}

        <label for="">{{form.password1.label}}</label>
        {{form.password1}}

        <label for="">{{form.password2.label}}</label>
        {{form.password2}}

        <input class="button no-margin btn-registro" type="submit" value="Registra">
    </form>
    <p>Ya tienes una cuenta?? <a href="{% url 'login' %}">Ingresar</a></p>
</div>
{% endblock content %}